<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
  <appSettings>
    <add key="APP_TITLE" value="21st Card Magic"/>
    <add key="DESIGN_TIME_SCREEN_WIDTH" value="1920"/>
    <add key="DESIGN_TIME_SCREEN_HEIGHT" value="1080"/>
  </appSettings>
</configuration>
